@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    min-height: 100%;
  }

  body {
    min-height: 100%;
    margin: 0;
    background-image: url('/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #root {
    min-height: 100vh;
  }
}

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
  
  .typing-cursor {
    animation: blink 0.7s infinite;
    font-weight: 100;
  }
  
  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }
}
